@import './variable';

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Roboto', sans-serif;
  line-height: 1.25;
  font-size: 14px;
}

.row {
  margin-bottom: $zero;
}
