// Color code
$body-bg: #f5f7f9;
$grey: #e8ebed;
$header-color: #0b223e;
$side-bar: #00796b;
$side-bar-title: #00695c;
$primary-color: #4f565c;
$white-color: #ffffff;

// Variable value
$zero: 0;
$header-size: 32px;
$header-border: 1px solid $grey;
