.content-block {
  .content-label {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 4px;
  }
  .content-value {
    line-height: 16px;
  }

  ul {
    list-style-type: circle;
    padding-left: 16px;
    li {
      list-style-type: circle;
      margin-bottom: 8px;
    }
  }
}
