@import './styles/main';

.App {
  display: flex;
  min-height: 100vh;
  min-width: 958px;

  .side-bar {
    display: inline-block;
    width: 20%;
    background-color: $side-bar;
    color: $white-color;
  }

  .main-contain {
    display: inline-block;
    width: 80%;
    background-color: $body-bg;
    color: $primary-color;
  }

  &.A4 {
    width: 595px;

    .side-bar {
      width: 30%;
    }

    .main-contain {
      width: 70%;
    }
  }
}

@media print {
  @page {
    margin: 4px 0;
  }
  .date-info {
    page-break-inside: avoid;
  }
}
