@import '../../styles/variable';

.date-info {
  .date-section {
    font-style: italic;
    font-weight: 100;
    font-size: 12px;
  }
  .title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 8px;
  }
  .sub-title {
    font-style: italic;
    line-height: 17px;
    margin: 2px $zero;
  }
  .info-list-item {
    position: relative;
    line-height: 21px;
    padding: 2px $zero;
    &:before {
      content: '*';
      font-size: 28px;
      position: relative;
      top: 10px;
      left: $zero;
      padding-right: 5px;
      box-sizing: border-box;
    }
  }
}
